name: CD
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_run:
    workflows: ["CI Dependencies"]
    branches:
      - main
    types:
      - completed
jobs:
  docker-master:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: "Recodive/Workflows/.github/workflows/CD Docker.yml@main"
    with:
      context: master/.
      tags: api-master
    secrets:
      GH_NPM_TOKEN: ${{ secrets.GH_NPM_TOKEN }}
    permissions:
      contents: read
      packages: write
  docker-worker:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: "Recodive/Workflows/.github/workflows/CD Docker.yml@main"
    with:
      context: worker/.
      tags: api-worker
    secrets:
      GH_NPM_TOKEN: ${{ secrets.GH_NPM_TOKEN }}
    permissions:
      contents: read
      packages: write
  deploy-master:
    needs: docker-master
    uses: Recodive/Workflows/.github/workflows/CD.yml@main
    secrets:
      KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
    with:
      namespace: premid
      deployment: api-master
  deploy-worker:
    needs: docker-worker
    uses: Recodive/Workflows/.github/workflows/CD.yml@main
    secrets:
      KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
    with:
      namespace: premid
      deployment: api-worker
