name: CI
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "lts/*"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"
      - run: yarn run init
      - run: yarn build
